{% extends "polls/base.html" %}
{% block base %}
    <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>问题</th>
              <th>创建时间</th>
            </tr>
          </thead>
          <tbody>
            {% for question in question_list %}
            <tr>
              <td>{{ question.id }}</td>
              <td>
                <a id="{{question.id}}" href="{% url 'polls:detail' question.id %}">{{ question.question_text }} </a>
              </td>
              <td>{{question.pub_date | date:"Y-m-d H:i:s" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    <!-- 首页问题列表-->
<!--    {% if question_list %}-->
<!--        <ul>-->
<!--        {% for question in question_list %}-->
<!--          <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }} - {{question.pub_date | date:"Y-m-d H:i:s" }}</a></li>-->
<!--        {% endfor %}-->
<!--        </ul>-->
<!--    {% else %}-->
<!--        <p>No polls are available.</p>-->
<!--    {% endif %}-->

{% endblock %}
